{% extends 'base.html' %}
{% block title %} About {% endblock title %}

{% block content %}

<div class="container">
    <h2>About Me</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, aliquam ad. Sit beatae, minus labore corrupti excepturi ipsa, praesentium molestias iusto culpa doloribus laboriosam. Rerum consequuntur et nisi modi officiis! Voluptates reiciendis quam incidunt aliquam repudiandae illum velit deserunt a aspernatur placeat, temporibus exercitationem nostrum dignissimos, debitis voluptate, repellat fuga?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil recusandae provident tempora commodi veniam laborum doloremque ab magnam et nulla odio iure, libero nobis explicabo amet dicta sint, obcaecati laudantium minima itaque nam eligendi! Reiciendis ullam veniam exercitationem. Sint facilis at id quas! Nesciunt alias culpa praesentium aut. Architecto, enim?</p>
    <h3>Why This Website Create</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quam sequi sapiente ducimus non iste aliquid id minus possimus recusandae? Commodi, ex explicabo. Molestias deleniti asperiores unde esse tempora quas temporibus veniam magnam tenetur excepturi, dolorum sapiente commodi sed sint? Natus temporibus earum doloremque. Similique ducimus dignissimos repudiandae quasi fuga?</p>
    <h3>Is Udoy good developer</h3>
    <div class="my-card m-5 p-5">
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1533175069760-268143ce2e51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ym95JTIwaW1hZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">About Udoy's Skills</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto laudantium eveniet expedita consectetur tempore sit ducimus perferendis ad fugiat neque voluptatum ipsa, provident eum labore exercitationem dolorem dicta dolorum? Accusantium veritatis non facere modi temporibus eos inventore nulla reprehenderit corrupti.</p>
              <a href="#" class="btn btn-outline-success">Read More...</a>
            </div>
          </div>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo consequuntur molestiae fugiat. Quisquam nihil cupiditate quis soluta ut, et veniam, totam quae velit ducimus nisi. Voluptate eos hic assumenda molestias!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum nostrum deserunt numquam maiores, iure, totam praesentium ipsum quas debitis et repudiandae quia qui atque dolorem facilis quidem dolor accusantium dolorum quam temporibus recusandae eos saepe! Eos rem odit mollitia laborum ducimus quos labore culpa, cupiditate rerum eligendi esse, magni quaerat?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse quam ratione iure, eveniet delectus expedita? Dolorum aspernatur minima ex voluptatibus illo consequatur qui iusto itaque neque expedita similique, sint corrupti quidem quisquam enim vel, in commodi iste accusamus quaerat harum.</p>
</div>

{% endblock content %}