{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block content %}
<div class="container my-5">
  <h3 class="text-center ">Welcome to Home</h3>
  <div id="carouselExampleSlidesOnly" class="carousel slide align-items-center" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1646287908343-33a70a87edf7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxN3x8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" class="d-block img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1646257043001-47471d72dc5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1OHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" class="d-block img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1640622842223-e1e39f4bf627?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw3MHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60" class="d-block img-fluid" alt="...">
      </div>
    </div>
  </div>
  <div class="p-5 m-5">
    <h3>technology</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ab laudantium quae quidem ipsam aperiam atque quam esse nobis at nesciunt, consequuntur quibusdam eligendi fuga id dolores, magni maxime? Tempore dignissimos hic ab eos ullam quae in aut quasi nesciunt! Aspernatur deserunt asperiores eveniet fugit quisquam nisi quae adipisci sunt.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos hic at voluptatum dolores? Quo consequuntur recusandae, molestias praesentium doloribus aliquid dicta ab exercitationem vero enim voluptas eaque porro expedita minus repellendus illo impedit. Enim, perspiciatis beatae ea debitis error non aut saepe, veritatis iste reprehenderit nam hic eveniet illo odit?</p>
  </div>
</div>
{% endblock content %}
