*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body{
    background-color: #242424;
    color: #fff;
}

.content{
    text-align: center;
}

table{
    margin-left: 30%;
}

.content h1{
    padding: 2rem;
}


table tr th{
    border: 1px solid #fff;
    padding: .50rem;
}


table tr td{
    border:  1px solid #fff;
    padding: 1rem 5rem;
}

.btn{
    color: #fff;
    margin: 50px;
    padding: 20px;
}

form input{
    padding: 10px 30px;
    margin-top: 20px;
}